@model IEnumerable<Model.Custom.UserGrid>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped">
    
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>
                     <a href="~/user/get/@m.Id">@m.Email</a>
                </td>
                <td>@m.Name</td>
                <td>@m.LastName</td>
                <td>@m.Email</td>
                <td>@m.Role</td>
            </tr>

        }
    </tbody>
     
</table>

